body{
	background:#FFFFFF;
}

.clearfix:after{
	display:block;
	clear:both;		
}

.header{
	/*box-shadow:0px 1px 3px rgba(0,0,0,0.2);*/
	background:444456;
	
}

.header img{
	position: relative;
	margin-left: 25%;
	transition: linear 0.3s;
}

.header img:hover{
	/*width: 200px;
	height: 200px;*/
	box-shadow: 2px 1px 15px #000000;
	content:url("img/colwrus_co.png");
	transition: linear 0.3s;
	
}

.menu{
	/*needs to not stack when window is resized*/
	width: 100%;
	margin-left: 15%;
	font-family: arial;
	height: 10%;
	
}

.menu li{
	margin:0px;
	list-style:none;
}

.menu a{
	transition:all linear 0.15s;
	color:#515151;
}

.menu li:hover >a  /*, .menu .current-itme >a*/{
	text-decoration:none;
	color:#be5b7a;
	/*text-shadow: horizontal vertical blur color, 2ndHorizontal 2ndVertical 2ndBlur 2ndColor */
	text-shadow: 1px 2px 5px #acabaa;
	font-size: 130%;
	transition: linear 0.2s;
	padding: auto;
	
}
.menu .arrow{
	font-size:11px;
	line-height:0%;
}

.menu ul li:hover{
	border: 0px;
}

/* Top Level */

.menu > ul > li{
	float:left;
	display:inline-block;
	position:relative;
	font-size:19px;
	border-bottom: 3px solid black;
}

.menu > ul > li> a {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;	
	display:inline-block;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
	text-decoration:none;
}
/*
.menu > ul > li:hover >a, .menu >ul > .current-item > a {
	background:#2e2728;
}*/

/* Bottom Level */
.menu li:hover .sub-menu{
	z-index:1;
	opacity:1;
}

.sub-menu{
	width:250%;
	padding: auto;
	position:absolute;
	top:100%;
	margin-left: -60%;
	margin-right: 100%;
	z-index:-1;
	opacity:0;
	transition:opacity linear 0.25s;
}

.sub-menu li{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	display:inline-block;
	/*box-shadow:0px 2px 3px rgba(0,0,0,0.2);*/
}

.sub-menu a{
	text-decoration:none;
}

/*
.sub-menu li a:hover, .sub-menu .current-item a{
	background:#3e3436;
}*/


/*------- MAIN BODY --------*/

.mainBody{
	position: absolute;	
	width: 55%;	
	margin-top: 8%;
	margin-left: 7%;
	margin-right: 20%;
	padding: 5px;
	font-family: arial;
	float: left;
	background-color: green;
	border-radius: 5px;
	text-indent: 15px;
	color: white;
}

.imgLink{
	Text-decoration:none;
	outline: none;
	border: 0px none transparent;
	margin-left: 10px;
}

#rightSide {
	border: 3px solid red;
	position: absolute;
	margin-left: 65%;
	width: 20.5%;	
	margin-top: 8%;
	
}

#rightSide iframe {
	padding-left: 5px;
	margin-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	margin-bottom: 1px;
	padding-bottom: 2px;
}
