[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.col-md-10{

}

.col-md-1{
	background-color: transparent;
	border: none;

}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
.visible{
	opacity: 0;
}

.contactTabs{
	position: relative;
	padding:none;
	margin-left: 17px;
}

#resume{
	z-index:2;
}

#personal{
	bottom: 20px;
	
}

#resume-pdf{
	position: relative;	
	z-index: 500;
}

#personal-area{
	position:relative;	
}