[class*="col-"] {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: transparent;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.col-md-8{
	background-color: #00ccc9;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	top: 10px;

}

.col-md-2{
	background-color: transparent;
	border: none;
	text-shadow: 1px 1px 2px #000;
	font-size: 18px;
}


body {
  background-color: #b5F5ff;
  font-family: 'Righteous', cursive;
}

/* Header */


.navbar-default .navbar-nav>li>a {
    color: #b5F5ff;
}

.navbar-default .navbar-brand {
    color: #b5F5ff;
}

.navbar {
	margin: 10px 25%;
	background-color: transparent;	
	width: 100%;
}

.navbar-header{
	background-color: #FF692D;	
	transform: skew(-15deg);
	border-radius:8px;
}

.navbar-brand{
	transform: skew(15deg);
	padding-left: 25px;
}

.navbar-default{
	border-color: transparent;
}

.slanted{
	transform: skew(-15deg);
	background: #FF692D;
	margin-left: 5px;
	transition: opacity 0.2s;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border: none;
}

.slanted a{
	transform: skew(15deg);
	font-weight: bold;
}

.slanted:hover{
	opacity: 0.9;
}

.scroll-fixed{
	position: fixed;	
	z-index: 1;
	margin: 0;
	background-color:  #FF692D;
	border: 1px solid red;
	width: 100%;
}



/*End of Header */


.row{
	margin-top: 5%;
}
.visible{
	opacity: 0;
}

#resume{
	background-color: #FF692D;	
	display: block;
	position: relative;
	left: 15px;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	text-align: right;
	border-radius:5px;
}


#personal{
	background-color: #FFE619;
	position: relative;
	left: 15px;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	text-align: right;
	border-radius:5px;
}

#personal-area{
	padding: 3px;
	text-indent: 15px;
	position: relative;
	font-size: 18px;
	z-index: 3;
	height: auto;
}

#resume-area{
	display: none;
}




@media (max-width:992px){
	#resume, #personal{
		top: 25px;		
		left: -15px;
		text-align: center;
		width: 104%;
	}
	
	.navbar{
		margin: 0;
	}
	
	.navbar-header, .navbar-brand {
		transform: skew(0deg);
	}
	
	.slanted{
		transform: skew(0deg);
		font-size: 18px;
		border-top-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.slanted a{
		transform: skew(0deg);
	}
	
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

/*
@media (max-width: 768px){
	.navbar{
		background-color: transparent;

	}
	ul.nav.navbar-nav{
		overflow: hidden;
	}
}

@media (min-width: 768px){	
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
personal and professional goes to style versus approach
*/