[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.col-md-8{
	background-color: #00ccc9;
	border: none;
	border-radius: 5px;
	top: 10px;

}

.col-md-2{
	background-color: transparent;
	border: none;
	text-shadow: 1px 1px 2px #000;
	font-size: 18px;
}


body {
  background-color: #8ee3ff;
}

.navbar {
  margin-bottom: 20px;
  margin-left: 15%;
}


.visible{
	opacity: 0;
}

#resume{
	z-index:2;
	background-color: #99976c;	
	display: block;
	position: relative;
	left: 15px;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	text-align: right;
	border-radius:5px;
}

#personal{
	background-color: #ffbe4e;
	position: relative;
	left: 15px;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	text-align: right;
	border-radius:5px;
}

@media (max-width:992px){
	#resume, #personal{
		top: 25px;
		width: 105%;
		left: -20px;
		text-align: center;
	}

}